:root {
    --primary-color: #2347d8;
    --secondary-color: #eef7a4;
    --accent1-color: #1e4723;
    --accent2-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color)
}

h2 {
    text-align: center;
}

.split-image {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

.split-image h2 {
    grid-column: span 3;
    margin: 5px;
}

.multi-image {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px;

}

.multi-image h2,
.multi-image-3 h2 {
    grid-column: span 5;
    margin: 5px;
}

.multi-image img,
.multi-image-3 img {
    width: 140px;
}

.multi-image-3 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

figcaption {
    text-align: center;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 75%;
    right: 25px;
    width: 90%;
    padding: 16px;
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 90px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-button p{
    position:  absolute;
    display: block;
    top: 72%;
    right: 32%;
    width: 30%;
    text-shadow:   
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 18px;
    color: #fff;
}

.hero-button button{
    position: absolute;
    display: block;
    top: 80%;
    right: 40%;
    width: 20%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 2rem    
}

form {
    display: grid;
}

form div {
    padding: 8px;
    text-align: left;
}

form button {
    background-color: var(--primary-color);
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    width: 150px;
    height: 30px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    margin: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.info {
    grid-column: span 2;
}

.map {
    width: 400px;
}

.radio {
    display: grid;
    grid-template-columns: .5fr 2fr;
    text-align: left;

}

.radio p {
    text-align: left;
    align-self: center;
}

.textbox textarea {
    width: 350px;
    height: 50px;
}

.textbox label {
    display: block;
    text-align: left;
}

.single-input {
    display: grid;
    grid-template-columns: .5fr 2fr;
}

.single-input input, .single-input-index input{
    width: 300px;
    height: 20px;
}

.single-input-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    place-items: center;
}

.center{
    text-align: center;
}

.trips-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-size: 25px;
    padding: 16px;
}

.trips-button button{
    width: 200px;
    height: 50px;
    font-size: 25px;
}

.trips-locations{
    display: grid;
    grid-template-columns: 2fr .5fr;
}

.trips-locations h3{
    grid-column: span 2;
    text-align: center;
    padding: 16px;
}

.trip-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    border: 1px solid black;
}